.grocery-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 1rem;
}

.grocery-header{
    font-size: 4rem;
    padding: 1rem 0rem;
}

#grocery-input{
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    height: 3rem;
}

#grocery-list{
    width: 100%;
    list-style-type: none;
    align-self: flex-end;
}

#grocery-list li{
    margin: 1rem 0rem;
    font-size: 1.2rem;
}

.delete{
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}