*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color : #063251;
    --seconday-color: #6ebef7;
    --radius: 5px;
}

body {
    font-family:"Segoe UI", Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    background-color: #e3e3e3;
}

.grocery-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    padding: 1rem;
    margin: 5rem auto;
}

.grocery-header {
    font-size: 4rem;
    padding: 1rem 0rem;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

#grocery-input {
    width: 100%;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    height: 3rem;
    letter-spacing: 1px;
}

#grocery-list {
    width: 100%;
    list-style-type: none;
    letter-spacing: 1px;
}

#grocery-list li{
    margin: 1rem 0rem;
    font-size: 1.4rem;
    width: 100%;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: var(--radius);
    background-color: var(--seconday-color);
    border: none;
    font-family: inherit;
    font-weight: 600;
}

.delete:hover{
    background-color: #0c91f0;
}